.error {
    background-color: #202020;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 320px 10px 0;
    min-height: 100vh;
}

.error__title {
    margin: 0;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error__subtitle {
    margin: 10px 0 286px ;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error__link {
    text-decoration: none;
    color: #4285F4;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error__link:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .error {
        padding-top: 408px;
    }

    .error__title{
        font-size: 140px;
    }

    .error__subtitle{
        margin: 5px 0 184px;
        font-size: 16px;
    }

    .error__link{
        font-size: 14px;
    }
}

@media screen and (min-width: 1280px){
    .error{
        padding-top: 246px;
    }

    
}