.movies-card {
  width: 300px;
  height: 236px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  background: #222;
}

.movies-card__container {
  display: flex;
  justify-content: space-between;
}

.movies-card__info-wrapper {
  display: flex;
  flex-direction: column;
}

.movies-card__img {
  width: 300px;
  height: 168px;
  object-fit: cover;
  background-position: center;
}

.movies-card__title {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 14px 0 0;
}

.movies-card__duration {
  color: #8b8b8b;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  margin: 9px 0 14px;
}

.movies-card__save-button {
  background-image: url("../../../images/card-save-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: 0.3s;
  width: 30px;
  height: 30px;
  margin: 19px 14px 0 0;
  cursor: pointer;
}

.movies-card__save-button:hover{
  opacity: 0.8;
}

.movies-card__save-button_liked {
  background-image: url("../../../images/card-save-button_liked.svg");
}

.movies-card__save-button_delete {
  background-image: url("../../../images/card-save-button_delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: 0.3s;
  width: 30px;
  height: 30px;
  margin: 19px 14px 0 0;
  cursor: pointer;
}

.movies-card__save-button_delete:hover{
  opacity: 0.8;
}

.movies-card__link{
  display: block;
  height: 168px;
}

@media screen and (min-width: 768px) {
  .movies-card {
    width: 339px;
    height: 258px;
  }

  .movies-card__img {
    width: 339px;
    height: 190px;
  }

  .movies-card__link{
    height: 190px;
  }
}


@media screen and (min-width: 1280px) {
  .movies-card {
    width: 364px;
    height: 271px;
  }

  .movies-card__img {
    width: 364px;
    height: 203px;
  }
}
