.register {
  min-height: 100vh;
  background-color: #202020;
  display: flex;
  justify-content: center;
  padding: 56px 30px 0;
}

.register__label {
  margin-bottom: 5px;
  color: #8b8b8b;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-top: 24px;
}

.register__label:first-of-type {
  margin-top: 0;
}

.register__input {
  padding: 0 0 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  outline: none;
}

.register__input:focus{
  border-bottom: 1px solid #4285F4;;
}

.register__error {
  /* margin-top: 6px; */
  color: #ee3465;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__error:last-of-type {
  margin-bottom: 240px;
}

@media screen and (min-width: 768px) {
  .register {
    padding: 232px 186px 0;
  }

  .register__error:last-of-type {
    margin-bottom: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .register {
    padding: 70px 442px 0;
  }
}
