.saved-movies {
  background-color: #202020;
  min-height: 100vh;
  padding: 60px 10px 170px;
}

.saved-movies__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 95px;
}

.movies__search-error {
  color: #DC143C;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .saved-movies {
    padding: 60px 30px 170px;
  }
}

@media screen and (min-width: 1024px) {
  .saved-movies {
    padding: 80px 70px 170px;
  }

  .saved-movies__form-container {
    flex-direction: row;
  }

  .movies__search-error {
    transform: translateY(-80px);
    justify-content: center;
    display: flex;
  }
}
